<form name="iowedata">
  <div class="modal-header">
  <i tooltip="Close" tooltip-placement="right" ng-click="cancel()" class="action-icon-close fa fa-close modal-close-icon pull-right"></i>
  <h3 class="modal-title"> {{passingValues.title}}</h3>
</div>
<div class="modal-body">
	<div class="stage">
      <div class ="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
              <input tabindex="1" type="text" class="form-control" placeholder="{{'iowe.edit.placeholder.contact' | i18n}}" tabindex="1" data-ng-model="iowe.ioweBO.contact">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <input tabindex="6" type="text" class="form-control" placeholder="{{'iowe.edit.placeholder.amount' | i18n}}" tabindex="2" data-ng-model="iowe.ioweBO.amount" amount>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="iowe.ioweBO.date_owe" is-open="open.traveldate" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true" placeholder="{{'iowe.edit.placeholder.owedate' | i18n}}"/>
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'traveldate')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="iowe.ioweBO.date_paid" is-open="open.bookeddate" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true" placeholder="{{'iowe.edit.placeholder.paiddate' | i18n}}"/>
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'bookeddate')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <select tabindex="8" class="form-control" ui-select2="common.select2ClearWithSearch" ng-model="iowe.ioweBO.status" placeholder = "{{'br.edit.placeholder.status' | i18n}}">
              <option></option>
              <option data-ng-repeat="item in reference.genericStatusTwo" value="{{item.code}}">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <select tabindex="8" class="form-control" ui-select2="common.select2ClearWithSearch" ng-model="iowe.ioweBO.category" placeholder = "{{'iowe.edit.placeholder.category' | i18n}}">
              <option></option>
              <option data-ng-repeat="item in reference.expenseCategory" value="{{item.code}}">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn camelcase btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn camelcase btn-primary" ng-click="saveIowe(iowe.ioweBO)">Save</button>
</div>
<input type="hidden" name="id" data-ng-model="br.brBO.id" data-ng-show="isEdit">
</form>
