<form name="rentdata">
  <div class="modal-header">
  <i tooltip="Close" tooltip-placement="right" ng-click="cancel()" class="action-icon-close fa fa-close modal-close-icon pull-right"></i>
  <h3 class="modal-title">{{passingValues.title}}</h3>
</div>
<div class="modal-body">
	<div class="stage">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="rent.rentBO.month" is-open="open.traveldate" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true" placeholder="Rent month"/>
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'traveldate')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
              <input tabindex="5" type="text" class="form-control" placeholder="amount" tabindex="1" data-ng-model="rent.rentBO.amount" amount>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
              <select tabindex="7" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="rent.rentBO.llcode" placeholder="{{'rent.placeholder.landlord' | i18n}}">
              <option></option>
              <option data-ng-repeat="item in reference.landlord" value="{{item.code}}">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <select tabindex="8" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="rent.rentBO.status" placeholder = "{{'rent.placeholder.rentstatus' | i18n}}">
              <option></option>
              <option data-ng-repeat="item in reference.rentStatus" value="{{item.code}}">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
              <select tabindex="9" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="rent.rentBO.receipt" placeholder="{{'rent.placeholder.receipt' | i18n}}">
              <option></option>
              <option data-ng-repeat="item in reference.rentReceipts" value="{{item.code}}">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
              <textarea tabindex="9" name="comment" id="comment" class="form-control" placeholder="Comment" tabindex="1" data-ng-model="rent.rentBO.comment"></textarea>
          </div>
        </div>
      </div>

	</div>
</div>
<div class="modal-footer">
  <button class="btn camelcase btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn camelcase btn-primary" ng-click="saveRent(rent.rentBO)">Save</button>
</div>
<input type="hidden" name="rent_id" data-ng-model="rent.rentBO.id" data-ng-show="isEdit">
</form>
