<div id="login-container">
  <div class="col-sm-12 login-box">
    <div class="col-sm-3 login-icon">
      <div class="icon-box">
      		<i class="fa fa-leaf"></i>
      </div>
    </div>
    <div class="login-field col-sm-9">
      <div class="field-box">
      	<div class="form-group col-sm-12 m-t-m">
         	<input tabindex="1" type="password" class="form-control" placeholder = "{{'login.placeholder.passkey' | i18n}}" tabindex="1" data-ng-model="login.loginBO.passkey">
          	<button class="btn btn-sm btn-primary m-t-m col-sm-12" ng-click="getAuthenticate(login.loginBO);">{{'login.btn.label' | i18n}}</button>
      	</div>
      </div>
    </div>
  </div>
</div>

