<section>
  <div class="row header-container">
    <div class="col-sm-3">
      <div>
        <h1><i class="fa fa-tachometer"></i><span data-ng-bind-html ="'medicalbill.pageheader' | i18n"></span></h1>
      </div>
    </div>
    <div class="col-sm-8" style="text-align:right">
        <ol class="breadcrumb"> 
          <li class="active"> <a href="#" data-ng-href="#/dashboard"><i class="fa fa-home"></i> {{'breadcrumb.dashboard' | i18n}}</a> </li> 
          <li class="active"> <strong>{{'breadcrumb.medicalbill' | i18n}}</strong> </li> 
        </ol> 
    </div>
    <div class="col-sm-1 text-right">
        <button type="button" class="btn btn-sm btn-primary" ng-click="refresh();" tooltip="{{'tooltip.refresh' | i18n}}">
         <span class="fa fa-refresh fa-spin"></span>
        </button>
    </div>
  </div>
</section>


<section>
  <div id="dashboard" class="generic-container param-section">
    <h3 class="title-section">Search Bills</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-xs-3">
          <div class="form-group">
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="searchParam.searchCriteria.billstartmonth" is-open="open.traveldate" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true" placeholder="{{'placeholder.medicalbill.search.startmonth' | i18n}}"/>
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'traveldate')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>
          <div class="col-xs-3">
          <div class="form-group">
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="searchParam.searchCriteria.billendmonth" is-open="open.traveldate1" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true" placeholder="{{'placeholder.medicalbill.search.endmonth' | i18n}}"/>
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'traveldate1')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pull-right buttons-section">
        <button class="btn camelcase btn-default" ng-click="clear()">{{'btn.clear' | i18n}}</button>
        <button class="btn camelcase btn-primary" ng-click="searchMB()">{{'btn.search' | i18n}}</button>
      </div>
    </div>
  </div>
</section>


<section class="main-content p-t-none">
  <div id="dashboard" class="generic-container">
    <div class="generic-card no-margin">
      <div class="table-responsive white">
        <div class="actions pull-right" tooltip="Add"><i class="action-icon-primary fa fa-plus" ng-click="addMedicalbill()"></i></div>
        <h3 class="table-title" data-ng-bind-template="{{'cnt.rows' | i18n}} {{medicalbillBO.medicalbillData.length}} | {{'cnt.total' | i18n}} {{currentTotal | aswaCurrency}}"></h3>
          <table class="clear-both table table-hover table-full table-full-small pos-relative">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th data-ng-bind-html="'medicalbill.tbl.billmonth' | i18n"></th>
                <th data-ng-bind-html="'medicalbill.tbl.billno' | i18n"></th>
                <th data-ng-bind-html="'medicalbill.tbl.billtype' | i18n"></th>
                <th data-ng-bind-html="'medicalbill.tbl.amount' | i18n"></th>
                <th data-ng-bind-html="'medicalbill.tbl.user' | i18n"></th>
                <th data-ng-bind-html="'medicalbill.tbl.action' | i18n"></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="rel in medicalbillBO.medicalbillData  | limitTo:dataLimit()">
                <td class="f20"></td>
                <td data-ng-bind="rel.billmonth | aswaDate"></td>
                <td data-ng-bind="rel.billno"></td>
                <td data-ng-bind="getRef.referencesDataMap.medicalbilltypes[rel.billtype]"></td>
                <td data-ng-bind="rel.amount | aswaCurrency"></td>
                <td data-ng-bind="getRef.referencesDataMap.medicalbillusers[rel.user]"></td>
                <td class="f20 ng-binding action comment-content">
                  <i class="action-icon-small-secondary fa fa-info close-pop" tooltip="{{'tooltip.comment' | i18n}}" popover-template="'common/popover/common.popover.html'" data-ng-model="rel" popover-placement="left"></i>
                  <i class="action-icon-small-secondary fa fa-edit" ng-click="editMedicalbill(rel)" tooltip="{{'tooltip.edit' | i18n}}"></i>
                  <i class="action-icon-small-secondary fa fa-close" tooltip="{{'tooltip.trash' | i18n}}"></i>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div  class="show-more text-center" ng-show="medicalbillBO.medicalbillData.length > maxSize">
      <a href="" data-ng-show="hasMoreDataToShow()" data-ng-click="showMoreData()" data-ng-bind-html="'tbl.label.showmore' | i18n"></a>
      <a href="" data-ng-show="hasMoreDataToHide()" data-ng-click="hideMoreData()" data-ng-bind-html="'tbl.label.showless' | i18n"></a>
    </div>
  </div>
</section>